<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:object="${postsList}" th:fragment="postsList">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">번호</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">작성일</th>
      <th scope="col">조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="postsForm : ${postsList}">
      <th scope="row">
        <a th:href="@{/posts/view/{postsId}(postsId=${postsForm.id})}">
          <label th:text="${postsForm.id}">id</label>
        </a>
      </th>
      <td>
        <a th:href="@{/posts/view/{postsId}(postsId=${postsForm.id})}">
          <label th:text="${postsForm.title}">title</label>
        </a>
      </td>
      <td>
        <a th:href="@{/posts/view/{postsId}(postsId=${postsForm.id})}">
          <label th:text="${postsForm.writer.memberName}">writer</label>
        </a>
      </td>
      <td th:text="${postsForm.createTime}">createTime</td>
      <td th:text="${postsForm.pageView}">pageViews</td>
    </tr>
    </tbody>
  </table>

</div>
</html>
