<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/layout/commonHead :: commonHead(~{::title})">
  <title th:text="'게시글 - ' +  ${postsForm.title}">title</title>
</head>

<body>
<!-- header start -->
<header th:replace="/layout/header :: header">
</header>
<!-- header end -->

<div class="empty_blank_3"></div>

<!-- board list title start -->
<div>
  <h1>게시판</h1>
</div>
<!-- board list title end -->

<div class="empty_blank_3"></div>

<!--posts view start-->
<!--<div id="posts_list" th:object="${postsForm}">-->
<div id="posts_list" >
  <div class="col-md-12">
    <form class="card">
      <div class="card-header d-flex justify-content-between">
        <label th:text="${postsForm.id}">postsId</label>
        <input type="hidden" id="id" value="{{posts.id}}">
        <!--        <label th:value="${postsForm.createTime}">created_date</label>-->
        <label th:text="${postsForm.createTime}">created_date</label>

      </div>
      <div class="card-header d-flex justify-content-between">
        <label th:text="${postsForm.writer.memberName}">writer</label>
        <label><i class=" bi bi-eye-fill" th:text="${postsForm.pageView}">pageViews</i></label>
      </div>
      <div class="card-body">
        <label for="title">제목</label>
        <input type="text" class="form-control" id="title" value="title" readonly
               th:value="${postsForm.title}">
        <br/>
        <label for="content">내용</label>
        <textarea rows="5" class="form-control" id="content" th:value="contents"
                  readonly>contents</textarea>
      </div>
    </form>

    <div class="empty_blank_3"></div>
    <!---->
    <!--    <button class="etc_btn" type="button" onclick=""-->
    <!--            th:onclick="|location.href='@{/board/edit(id=${boardForm.boardId})}'|">수정</button>-->
    <!---->

    <!--    buttons start-->
    <a href="/" role="button" class="btn btn-info bi bi-arrow-return-left"
       th:onclick="|location.href='@{/}'|"> 목록</a>
    <a href="/posts/update/{{posts.id}}" role="button" class="btn btn-primary bi bi-pencil-square">
      수정</a>
    <button type="button" onclick="" id="btn-delete" class="btn btn-danger bi bi-trash"> 삭제</button>
    <!--    buttons end-->

  </div>
</div>
<!--posts view end-->

<div class="empty_blank_4"></div>

<!-- footer start -->
<footer th:replace="/layout/footer :: footer">
</footer>
<!-- footer end -->

</body>

</html>
