<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="commentsForm">
  <div class="card">
    <div class="card-header bi bi-chat-right-dots">댓글 작성</div>
    <form>
      <input type="hidden" id="postsId" value="{{posts.id}}">
      <!--      TODO 로그인 된 사용자 이름 출력-->
      <div class="card-body">
        <textarea id="comment" class="form-control" rows="4" placeholder="댓글을 입력하세요"></textarea>
      </div>
      <div class="card-footer">
        <button type="button" id="btn-comment-save"
                class="btn btn-outline-primary bi bi-pencil-square"> 등록
        </button>
      </div>

<!--      login check-->
<!--      <div class="card-body" style="font-size: small"><a href="/auth/login">로그인</a>을 하시면 댓글을 등록할 수-->
<!--        있습니다.-->
<!--      </div>-->
<!--      {{/user}}-->
    </form>
  </div>
</div>

</html>

