<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/common.css">
  <title>게시판</title>
</head>

<head th:replace="/layout/commonHead :: commonHead(~{::title})">
  <title>게시판</title>
</head>

<body>
<!-- header start -->
<header th:replace="/layout/header :: header">
</header>
<!-- header end -->

<div class="empty_blank_3"></div>

<!-- board list title start -->
<div>
  <h1>게시판</h1>
</div>
<!-- board list title end -->

<!-- board list start -->
<div th:replace="/layout/layout :: postsList">
</div>
<!-- board list end -->

<div class="empty_blank_4"></div>

<!-- footer start -->
<footer th:replace="/layout/footer :: footer">
</footer>
<!-- footer end -->

</body>

</html>